/* Фон background: #E5E5E5 */
/* фон блока background: #F5F4FA */
/* фон футера background: #2F303A */
/* цвет текста color: #757575;-светлый  #212121; #000000 #FFFFFF

*/
/* цвет ссылок футера color: rgba(255, 255, 255, 0.6); */
/* акцент color: #2196F */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196ff;
  --primary-white-color: #FFFFFF;
  --icon-color: #AFB1B8;
  --border-portfolio: 1px solid #EEEEEE;
  --section-padding: 94px;
  --card-set-gap: 30px;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --cubic:cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  /* padding-top: 80px; */
}

/* Utilities */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}


/* site nav */
/* Для фиксированой шапки .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-white-color);
} */

.header-portfolio {
  border-bottom: 1px solid #ECECEC;
}

.main-nav {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  margin-left: 93px;
}

.contact-nav {
  margin-left: auto;
}

.site-nav .link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  transition: color 250ms var(--cubic);
}


.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link.current::after {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 1;
  
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contact-nav,
.site-nav {
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
}


.site-nav .item:not(:last-child),
.contact-nav .item:not(:last-child) {
  margin-right: 50px;
}


.contact-nav .link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  color: var(--primary-text-color);

  transition: color 250ms var(--cubic);
}

.contact-nav .link:hover,
.contact-nav .link:focus,
.site-nav .link:hover,
.site-nav .link:focus,
.link-contact:hover,
.link-contact:focus {
  color: var(--accent-color);
}

.icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

/* Logo */

.logo {
  display: block;

  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo>span {
  color: var(--accent-color);
}

/* Hero */

.hero {
  text-align: center;

  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background-hero.jpg);
  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: auto;
    max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-size: cover;
  background-position: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 696px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Section */

.section-title {
  margin-bottom: 50px;
  margin-top: 0;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Features */

.features {
  display: flex;
  justify-content: space-between;
}

.features .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features .text {
  margin: 0;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features .item {
  width: 270px;
}


.feature-div {
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-features {
  width: 70px;
  height: 70px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}


/* Work List */
.section-work {
  padding-top: 0;
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.work-list p{
margin-top: 0;
margin-bottom: 0;

font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-white-color);
}

.work-thumb {
  position: relative;
}

.work-action {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

/* Team */

.section-team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  margin-right: calc(-1 * var(--card-set-gap));
}

.name {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list>.item {
  margin-right: var(--card-set-gap);

  box-shadow: var(--card-shadow);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--primary-white-color);
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}


.team-list p {
  margin-top: 10px;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Social Media */

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-item + .social-item{
  margin-left: 10px;
}


.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  display: inline;
}


.social-link {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);

  transition: color 250ms var(--cubic),
  background-color 250ms var(--cubic);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* Button */

.button {
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  height: 50px;
  min-width: 200px;

  font-family: "Roboto", sans-serif;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  transition: background-color 250ms var(--cubic);
}

.button:hover,
.button:focus {
  background-color: #188CE8;
}

/* Clients */

.clients-list {
  display: flex;
  align-items: center;
}

.clients-item {
  margin-right: 30px;
}

.clients-item:last-child {
  margin-right: 0;
}

.clients-link {
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);

  transition: color 250ms var(--cubic),
  border-color 250ms var(--cubic);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}


/* Footer */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.address-div {
  margin-right: 70px;
  flex-grow: 1;
}

.logo-footer {
  margin-bottom: 20px;

  color: var(--primary-white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: block;
}

.logo-footer>span {
  color: var(--accent-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.link-adress {
  color: var(--primary-white-color);
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.link-contact {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition: color 250ms var(--cubic);
}

.join {
  margin-bottom: 20px;
  margin-top: 0;

  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-link {
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-link:hover .footer-icon,
.footer-link:focus .footer-icon {
  color: var(--primary-white-color);
}

.footer-icon {
  fill: currentColor;
}

.form-footer {
  display: flex;
  margin-left: 93px;
}

.form-footer-field {
  display: flex;
  flex-direction: column;
}

.form-footer-label {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.form-footer-input{
  background-color: transparent;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;

  margin: 0;
  padding-left: 16px;
  
  height: 50px;
  width: 358px;
}

.form-footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  margin-left: 12px;
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/* Portfolio */

/* button nav */
.portfolio-nav {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.portfolio-nav>.item:not(:last-child) {
  margin-right: 8px;
}

.button-portfolio.current,
.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-portfolio {
  cursor: pointer;
  padding: 6px 22px;
  display: flex;
  

  font-family: inherit;
  background-color: #F5F4FA;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  
  transition: color 250ms var(--cubic),
  box-shadow 250ms var(--cubic),
  background-color 250ms var(--cubic);
  }

/* Portfolio List */

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(-1 * var(--card-set-gap));
  margin-right: calc(-1 * var(--card-set-gap));
}

.card-link{
  display: block;

  transition: box-shadow 250ms var(--cubic);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.card-link:hover .thumb-text,
.card-link:focus .thumb-text {
  transform: translateY(0);
}

.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-right: var(--card-set-gap);
  margin-bottom: var(--card-set-gap);
}

.card-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: var(--border-portfolio);
  border-bottom: var(--border-portfolio);
  border-right: var(--border-portfolio);
}

.portfolio-title {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--primary-text-color);
}

.thumb-text {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transform-origin: bottom center;
  
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);

  transition: transform 250ms var(--cubic);
}

.thumb-text>p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  right: 0;

  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  padding: 40px;

  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--cubic);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;


  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
  cursor: pointer;
  transition: color 250ms var(--cubic);
}

.icon-close {
  width: 11px;
  height: 11px;
  fill: currentColor;
}

.button-close:hover, .button-close:focus {
  color: var(--accent-color);
}

.modal-text {
margin: 0;
margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.form {
  width: 100%;
}

.form-field {
  margin-bottom: 10px;
}

.input-wrap{
  position: relative;
}

  .form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  
    display: inline-block;
    margin: 0;
    margin-bottom: 4px;
    padding: 0;
  
    color: var(--primary-text-color);
  }

  .form-input::placeholder,
  .form-footer-input::placeholder .form-textarea::placeholder,
    {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
  
    color: rgba(117, 117, 117, 0.5);
  }

.form-label-policy {
  display:flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.form-input,
.form-textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  width: 100%;
  cursor: pointer;
  transition: border-color 250ms var(--cubic);
}

.form-input {
  margin: 0;
  padding: 0;
  padding-left: 42px;

  height: 40px;
}

.form-input:focus,
.form-input:hover,
.form-textarea:hover,
.form-textarea:focus, .form-input:not(:placeholder-shown),
.form-textarea:not(:placeholder-shown) {
  outline-width: 0;
  border-color: var(--accent-color);
}

.form-textarea {
  display: block;
  padding: 12px 16px;

  height: 120px;
}

.icon-form{
  width: 18px;
  height: 18px;

  position: absolute;
  bottom: 50%;
  left: 12px;
  transform: translateY(50%);

  transition: fill 250ms var(--cubic);
}

.form-input:not(:placeholder-shown)~.icon-form,
.form-input:focus~.icon-form,
.form-input:hover~.icon-form {
  fill: var(--accent-color);
}

.icon-checked {
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox:checked + .icon-checked{
  background-color: var(--accent-color);
  border: none;
  background-origin: border-box;
}

.link-policy {
  color: var(--accent-color);
  text-decoration: underline;
}

.button-form{
  position: relative;
  left: 50%;
  margin-top: 30px;
  transform: translate(-50%);
}